@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Calculate!</h1>

<h2>@ViewData["firstNumber"] @ViewData["verb"] @ViewData["secondNumber"] = @ViewData["result"]</h2>
